In [1]:
import numpy as np
import pandas as pd

from quantopy import returns, simulate

In [2]:
np.random.seed(0)

# Generate price for 2 stocks
stock_1_price = simulate.stock_price(0.01, 0.01, 1000)
stock_2_price = simulate.stock_price(0.01, 0.10, 1000)

print(stock_1_price)

[1.00000000e+00 1.02764052e+00 1.04202911e+00 ... 1.27009509e+04
 1.26822029e+04 1.27636082e+04]

In [3]:
prices = pd.DataFrame({
    'stock_1': stock_1_price,
    'stock_2': stock_2_price
})

prices.head()

    stock_1   stock_2
0  1.000000  1.000000
1  1.027641  1.065596
2  1.042029  1.171354
3  1.062648  1.133599
4  1.097087  1.156806

In [4]:
rs = returns.returns(prices)

rs.head()

    stock_1   stock_2
1  0.027641  0.065596
2  0.014002  0.099247
3  0.019787 -0.032231
4  0.032409  0.020471
5  0.028676  0.032805